<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="button1Name" value="Help"/>
		<add key="button2Name" value="Phone Call"/>
		<add key="button3Name" value="No Power"/>
		<add key="button4Name" value="Productive"/>
		<add key="button5Name" value="Neutral"/>
		<add key="button6Name" value="Procrastin"/>
	</appSettings>
</configuration>