<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="button1" value="Help"/>
		<add key="button2" value="Phone Call"/>
		<add key="button3" value="No Power"/>
		<add key="button4" value="Productive"/>
		<add key="button5" value="Neutral"/>
		<add key="button6" value="Procrastin"/>
	</appSettings>
</configuration>