<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EncryptionType" value="SSL"/>
		<add key="TempDataStore" value="%appdata%\gyrfalcon"/>
		<add key ="ForegroundWindowPollFrequency" value="1000" comment="the poll frequency for the process monitor"/>
	</appSettings>
</configuration>