<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EncryptionType" value="SSL"/>
		<add key="TempDataStore" value="%appdata%\gyrfalcon"/>
		<add key ="ForegroundWindowPollFrequency" value="1000" comment="the poll frequency for the process monitor"/>
		<!--<add key="ProducerListSize" value="1000" comment="size of list to grow before handed over to consumer"/>
		<add key="ProducerTimeLimit" value="5" comment="time limit before consumer will be called for sure"/>-->
	</appSettings>
</configuration>