<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="button1" value="test1"/>
		<add key="button2" value="test2"/>
		<add key="button3" value="test3"/>
		<add key="button4" value="test4"/>
		<add key="button5" value="test5"/>
		<add key="button6" value="test6"/>
	</appSettings>
</configuration>
