<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="WebsiteURL" value="http://google.com"/>
		<add key="EncryptionType" value="SSL"/>
		<add key="TempDataStore" value="%appdata%\gyrfalcon"/>
		<add key ="ForegroundWindowPollFrequency" value="1000" comment="the poll frequency for the process monitor"/>
		<add key="button1" value="Productive"/>
		<add key="button2" value="Neutral"/>
		<add key="button3" value="Procrastinating"/>
		<add key="button4" value="Helping others"/>
		<add key="button5" value="Discussion"/>
		<add key="button6" value="Meeting"/>
	</appSettings>
</configuration>